<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FarmConnectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FarmConnect">

        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BuyerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FarmerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FarmersMarketActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".DriverDashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RecordPickupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AssignedPickupsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PickupDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DeliveryDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PaymentActivity"
            android:label="Payment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <!-- Google Maps API key and permissions -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

        <!--  permissions for phone calls and maps -->
        <uses-permission android:name="android.permission.CALL_PHONE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    </application>

</manifest>